Source: nbis
Section: misc
Priority: optional
Maintainer: Michael Chaberski <mchaberski+dev@gmail.com>
Build-Depends: debhelper (>= 9), libpng12-dev (>= 1.2.46), libopenjpeg-dev (>= 1.2), libjpeg8-dev (>= 8c)
Standards-Version: 3.9.4
Homepage: http://www.nist.gov/itl/iad/ig/nbis.cfm
#Vcs-Git: git://git.debian.org/collab-maint/nbis.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/nbis.git;a=summary

Package: nbis
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpng12-0 (>= 1.2.46), libopenjpeg2 (>= 1.2), libjpeg8 (>= 8c)
Description: Biometric fingerprint image analysis and matching utilities
 The NIST Biometric Image Software (NBIS) distribution is developed by 
 the National Institute of Standards and Technology (NIST) for the 
 Federal Bureau of Investigation (FBI) and Department of Homeland 
 Security (DHS). The NBIS distribution contains programs for biometrics
 processing and analysis. The description below is adapted from the 
 NBIS home page.
 . 
 The NBIS utilities included in this Debian packaging of the NBIS
 distribution fall under seven general categories: 
 . 
 (1) A reference implementation of the ANSI/NIST-ITL 1-2007 (AN2K) 
 "Data Format for the Interchange of Fingerprint, Facial, Scar Mark & 
 Tattoo (SMT) Information" standard is included. This reference 
 implementation contains a suite of utilities designed to read, write, 
 edit, and manipulate files formatted according to this interchange 
 standard. The utilities support updated and new record types 
 introduced by this latest version of the standard (Record Types 9, 
 13, 14, & 15).
 . 
 (2) A fingerprint image quality algorithm, NFIQ, which analyses a 
 fingerprint image and assigns a quality value of 1 (highest quality) 
 to 5 (lowest quality) to the image. The ability to retrain the NFIQ 
 weights is provided with the utilities FING2PAT, ZNORMDAT, and 
 ZNORMPAT.
 . 
 (3) A neural-network based fingerprint pattern classification system, 
 called PCASYS, automatically categorizes a fingerprint image into the 
 class of arch, left or right loop, scar, tented arch, or whorl. This 
 is an updated system that includes the use of a robust Multi-Layered 
 Perceptron (MLP) neural network.
 . 
 (4) A minutiae detector called, MINDTCT, automatically locates and 
 records ridge ending and bifurcations in a fingerprint image. This 
 system includes minutiae quality assessment based on local image 
 conditions. 
 . 
 (5) A large collection of general-purpose image utilities (IMGTOOLS) 
 are also included to support the processing of fingerprint images. The 
 package includes encoders and decoders for the FBI's Wavelet Scalar 
 Quantization (WSQ) format. Utilities are also provided that support 
 color component interleaving, colorspace conversion, and format 
 conversion of legacy files distributed in NIST fingerprint databases.
 . 
 (6) A minutiae-based fingerprint matching algorithm, BOZORTH3, that
 accepts as input minutiae locations generated by the MINDTCT 
 algorithm.
 . 
 (7) A fingerprint segmentation algorithm, NFSEG, which segments a
 four-finger plain impression into individual fingerprint images or 
 can be used to remove white space from a rolled fingerprint image.
